<div class="portfolio-container">

  <div class="header">
    <h1>Our Portfolio</h1>
    <p>Capturing Love Stories & Timeless Memories</p>
  </div>

  <div class="gallery">

    <div
      *ngFor="let image of portfolioImages"
      class="gallery-item"
      (click)="openImage(image)">

      <img [src]="image" loading="lazy"
  decoding="async" alt="Portfolio Image">

    </div>

  </div>

</div>

<!-- Lightbox -->
<div
  *ngIf="selectedImage"
  class="lightbox"
  (click)="closeImage()">

  <img
    [src]="selectedImage"
    alt="Preview"
    (click)="$event.stopPropagation()">

  <span class="close-btn">&times;</span>

</div>